@use '_partials/reset';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Dancing+Script:wght@600;700&family=Great+Vibes&family=Shippori+Mincho:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

$primary-color: #FBF6E8;
$secondary-color: #40523F;
$tertiary-color: #D4927D;

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Noto Sans", "Noto Sans CJK JP", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;
$font-sans: "Montserrat", $family-sans-serif;
$font-hand-1: "Great Vibes", "Shippori Mincho";
$font-hand-2: "Dancing Script", "Shippori Mincho";

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

$block-spacing: 1.5rem !default;


*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: $primary-color;
    font-family: $font-sans;
    overflow: hidden;
}

img{
    width: 100%;
}

ul, ol, li{
    list-style: none;
}

button{
    cursor: pointer;
}

.pc{
    display: none;
}

footer{
    display: flex;
    background-color: $secondary-color;
    color: $primary-color;
    height: 100px;

    p{
        margin: auto;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 0.075em;
        font-weight: $weight-medium;
    }

    a{
        text-decoration: none;
        color: $primary-color;

        
    }

    a:hover{
        color: white;
    }

    a:active{
        color: $primary-color;
    }
}

#protokol {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 997; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .protokol-content {
        background-color: $primary-color;
        margin: 15% 20px; /* 15% from the top and centered */
        padding: 30px 20px;
        color: $secondary-color;
        text-align: center;
        position: relative;

        h2{
            font-family: $font-hand-1;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        p{
            font-family: $font-sans;
            font-size: 1rem;
            margin-bottom: 20px;
            letter-spacing: 0.1em;
            line-height: 1.5em;
        }

        .protokol-container{
            display: flex;
            margin: 20px 0;
            justify-content: space-evenly;

            .protokol-item{
                width: 28%;

                p{
                    font-weight: $weight-semibold;
                }
            }
        }

        button{
            color: $primary-color;
            background-color: $secondary-color;
            border: none;
            text-align: center;
            text-decoration: none;
            font-family: $font-sans;
            font-size: 1rem;
            font-weight: $weight-medium;
            letter-spacing: 0.1em;
            padding: 20px 30px;
            margin-bottom: 20px;
            position: relative;
            z-index: 99;
        }
    
        button:hover{
            background-color: white;
            color: $secondary-color;
        }

        span.close-btn{
            position: absolute;
            top: -15px;
            right: -7px;
            font-size: 2.5rem;
            color: $secondary-color;
            cursor: pointer;

            :hover{
                color: $tertiary-color;
            }
        }
    }
}

.atcb_button_wrapper {
    display: inline-block;
    padding: 15px;
    position: relative;
}

.atcb_button {
    align-items: center;
    background: $secondary-color;
    border: 0px;
    border-radius: 0;
    -webkit-box-shadow: none; 
    box-shadow: none;
    color: $primary-color;
    cursor: pointer;
    display: flex;
    font-family: $font-sans;
    font-size: 1.5rem;
    font-weight: $weight-medium;
    line-height: 24px;
    margin: 10px 0;
    max-width: 484px;
    min-width: 150px;
    padding: 20px 40px;
    position: relative;
    text-align: center;
    touch-action: manipulation;  
    transform: translateZ(0px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: auto;
    z-index: 1;
}
.atcb_button:focus,
.atcb_button:hover {
    background: $primary-color;
    color: $secondary-color;
}

@media only screen and (max-width: 375px) {
    .atcb_button {
        padding: 20px 37px;
    }
}

@media only screen and (max-width: 575px) {
    .atcb_button {
        font-size: 1.175rem;
    }
}

.atcb_list_item {
    font-family: $font-sans;
    align-items: center;
    background: $secondary-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    -webkit-box-shadow: none; 
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    left: 50%;
    margin-top: -1px; /* ugly, but prevents a glitch in some cases */
    position: relative;
    padding: 13px 15px;
    text-align: left;
    transform: translate(-50%);
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}
.atcb_list_item:focus,
.atcb_list_item:hover {
    background: $primary-color;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4); 
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4);
    color: $secondary-color;
}
@media only screen and (max-width: 575px) {
    .atcb_list_item {
        font-size: 1rem;
    }
}

.atcb_button.atcb_active {
    background: $primary-color;
    color: $secondary-color;
    -webkit-box-shadow: 1px 8px 12px 0px rgba(0,0,0,.5);
    box-shadow: 1px 8px 12px 0px rgba(0,0,0,.5);
    margin: 0;
    padding: 20px 40px;
    transform: none;
    transition: margin .1s ease-out, padding .1s ease-out, transform .1s ease-out;
    z-index: 160;
}

.atcb_icon {
    height: 1.5rem;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 0px;
}

.top{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
    background: url(../img/bg-1.png) no-repeat top right;
    background-size: 320px;
    h1{
        font-family: $font-hand-1;
        max-width: 238px;
    }

    figure {

        img{
        max-width: 317px;
        }
    }

    p{
        max-width: 338px;
    }
}

.countdown{
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;

    p{
        color: #AD7F0A;
        letter-spacing: 0.2em;
        font-size: 1.6rem;
        font-weight: $weight-semibold;
        position: relative;
        background: url(../img/cd-border.png) no-repeat center bottom;
        background-size: 240px;
        padding-bottom: 37px;
        margin-bottom: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;

        li{
            span:first-child{
                font-size: 3rem;
                font-weight: $weight-semibold;
            }

            span:nth-child(2){
                font-size: 1.25rem;
                font-weight: $weight-normal;
            }

            span{
                display: block;
            }
        }
    }

}

.quotes{
    color: $primary-color;
    background-color: $secondary-color;
    text-align: center;
    padding: 80px 0;

    p{
        max-width: 322px;
        font-size: 1rem;
        font-weight: $weight-normal;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 0.1em;
        position: relative;
    }

    p:first-child::before{
        content: open-quote;
        position: absolute;
        color: rgba(255, 248, 227, 0.48);
        font-size: 2.45rem;
        font-family: $font-sans;
        top: -20px;
        left: -20px;
        width: 40px;
        height: 40px;
    }

    p:first-child::after{
        content: close-quote;
        position: absolute;
        color: rgba(255, 248, 227, 0.48);
        font-size: 2.45rem;
        font-family: $font-sans;
        bottom: -50px;
        right: -20px;
        width: 40px;
        height: 40px;
    }

    p:nth-child(2){
        font-weight: $weight-semibold;
        margin-top: 30px;
    }
}


.undangan{
    text-align: center;
    color: $secondary-color;
    padding-top: 190px;
    background: url(../img/bg-3.png) no-repeat top right;
    background-size: 315px;

    h1, h2{
        font-family: $font-hand-2;
    }

    h1{
        font-size: 2.25rem;
    }

    h2{
        font-size: 2.25rem;
    }

    h2:nth-of-type(2){
        margin: 30px 0;
    }

    p.undangan-header{
        margin: 30px 40px;
    }

    p{
        font-size: 1.25rem;
        line-height: 30px;
        margin: 0 35px;
    }

    .undangan-text{
        p{
            margin: 10px;
        }
    }
}

.gallery{
    padding-top: 105px;
    background: url(../img/bg-4.png) no-repeat right top;
    background-size: 250px;
    background-position-x: 0px;
    margin-bottom: 30px;

    .gallery-container{
        margin: 0 15px;

        img{
            margin-bottom: 20px;
        }
    }
}

.lokasi{
    color: $primary-color;
    text-align: center;

    .akad, .resepsi{
        background-color: $tertiary-color;
        padding-bottom: 80px;

        h1{
            font-family: $font-hand-2;
            font-size: 3.5rem;
            background: url(../img/loc-border-1.png) no-repeat center bottom;
            background-size: 250px;
            padding-bottom: 50px;
            margin-bottom: 40px;
        }

        p{
            font-size: 1.5rem;
        }

        p:first-of-type {
            margin-bottom: 10px;
            font-weight: $weight-medium;
        }

        p:nth-of-type(2){
            background: url(../img/loc-border-2.png) no-repeat center bottom;
            background-size: 250px;
            padding-bottom: 70px;
            margin-bottom: 50px;
            font-weight: $weight-medium;
        }

        p:nth-of-type(3){
            font-size: 1.25rem;
            margin: 0 25px;
            line-height: 30px;
        }

    }

    .akad{
        padding-top: 80px;
    }

}

.maps{
    text-align: center;
    padding-top: 90px;
    background: url(../img/bg-5.png) no-repeat top right;
    background-size: 250px;
    h1{
        font-family: $font-hand-2;
        color: $secondary-color;
        font-size: 4rem;
    }

    .maps-container{
        background-color: white;
        padding: 20px;
        margin: 20px;
    }

    .maps-responsive{
        overflow:hidden;            
        padding-bottom:200.25%;           
        position:relative;            
        height:0;            
    }
    
    .maps-responsive iframe{            
        left:0;            
        top:0;            
        height:100%;            
        width:100%;            
        position:absolute;            
    }
}

.qr{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 80px;

    h1{
        font-family: $font-hand-2;
        color: $secondary-color;
        font-size: 4rem;
    }

    p.qr-text{
        font-size: 1.15rem;
        line-height: 1.5em;
        margin: 30px 20px;
        color: $secondary-color;
    }

    .qr-container{
        background-color: white;
        margin: 20px;
        padding: 50px 30px;
        position: relative;

        img{
            max-width: 300px;
            margin-bottom: 30px;
        }

        p{
            font-size: 1.25rem;
            font-weight: $weight-semibold;
            margin-bottom: 10px;
        }
    }

    .qr-container::after{
        content: "";
        position: absolute;
        background: url(../img/qr-bg.png) no-repeat top center;
        background-size: cover;
        width: 143px;
        height: 290px;
        bottom: -80px;
        right: -10px;
        z-index: 98;
    }

    button{
        color: $primary-color;
        background-color: $secondary-color;
        border: none;
        text-align: center;
        text-decoration: none;
        font-family: $font-sans;
        font-size: 1.5rem;
        padding: 20px 30px;
        margin-top: 20px;
        position: relative;
        z-index: 99;
    }

    button:hover{
        background-color: white;
        color: $secondary-color;
    }
}

.penutup{
    text-align: center;
    color: $secondary-color;
    padding-bottom: 70px;
    background: url(../img/bg-sp.jpg) no-repeat bottom center;
    background-size: cover;
    background-position-y: 0px;


    p{
        max-width: 318px;
        font-size: 1.25rem;
        letter-spacing: 0.1em;
        line-height: 30px;
    }
}

@media screen and (min-width:768px) {
    #protokol {
        .protokol-content {
            background-color: $primary-color;
            margin: 25% 20px; /* 15% from the top and centered */
            padding: 30px 20px;
    
            .protokol-container{
                margin: 30px auto;

                .protokol-item{
                    width: 18%;
                }
            }
        }
    }
    
    .top{
        background: url(../img/bg-1.png) no-repeat top right, url(../img/bg-2.png) no-repeat top left;
        background-size: 430px, 230px;
        h1{
            max-width: 350px;
        }

        figure img{
            max-width: 400px;
        }

        p{
            max-width: 420px;
        }
    }

    .countdown{
        .countdown-wrapper{
            width: 600px;
        }

        p{
            color: #AD7F0A;
            font-size: 2rem;
            background-size: 400px;
            padding-bottom: 70px;
            margin-bottom: 20px;
        }
    
        ul {
            display: flex;
            flex-direction: row;
    
            li{
                span:first-child{
                    font-size: 3rem;
                }
    
                span:nth-child(2){
                    font-size: 1.5rem;
                }
            }
        }
    }

    .atcb_button{
        max-width: auto;
        width: 480px;
        padding: 40px 40px;
        margin: 30px 0;
        font-size: 1.75rem;
    }

    .atcb_button.atcb_active{
        padding: 40px 40px;
    }

    .atcb_list_item{
        font-size: 1.5rem;
        width: 450px;
        margin: 0 auto;
    }

    .atcb_list_item.atcb_text{
        width: 50px;
    }

    .quotes{
        p{
            max-width: 450px;
            font-size: 1.25rem;
        }
    }

    .undangan{
        padding-top: 100px;
        background-size: 460px;
        background-position-y: 150px;

        h1, h2{
            font-size: 2.5rem;
        }

        .undangan-text{
            margin-top: -50px;

            p{
                font-size: 1.5rem;
                margin: 20px 100px;
            }
        }

    }

    .gallery{
        background: none;
        

        .gallery-container{
            display: flex;
            flex-wrap: wrap;
            max-width: 700px;
            margin: 0 auto;

            img{
                width: 48%;
                margin-bottom: 10px;
            }
        }
    }

    .lokasi{
        .resepsi{
            margin-top: -10px;
        }
        .akad p:nth-of-type(3), 
        .resepsi p:nth-of-type(3){
            font-size: 1.5rem;
            margin: 0 100px;
        }
    }

    .maps{
        .maps-container{
            .maps-responsive{
                padding-bottom: 110.25%;
            }
        }
    }

    .qr{
        .qr-container{
            p{
                font-size: 1.5rem;
            }
        }
    }

    .pc{
        display: block;
    }

    .penutup{

        background: url(../img/bg-6.png) no-repeat left bottom, url(../img/bg-7.jpg) no-repeat center bottom;
        background-size: 660px, auto;
        padding-bottom: 230px;

        p{
            max-width: 515px;
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1024px){
    #protokol {
        .protokol-content {
            background-color: $primary-color;
            margin: 100px auto; /* 15% from the top and centered */
            padding: 30px 20px;
            width: 990px;

            h2{
                font-size: 3.5rem
            }

            p{
                width: 750px;
            }
    
            .protokol-container{
                margin: 30px auto;
                width: 730px;

                .protokol-item{
                    width: 205px;

                    img{
                        width: 145px;
                    }

                    p{
                        width: 205px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    
    .top{
        background-size: 800px, 400px;
        padding-top: 60px;
    }

    .countdown{

        .countdown-wrapper{
            width: 760px;
            margin-top: 40px;
            ul{
                li{
                    span:first-child{
                        font-size: 3.5rem;
                    }
                }
            }
        }

    }

    .atcb_button{
        font-size: 1.5rem;
        font-weight: $weight-normal;
    }

    .atcb_list_item{
        font-size: 1.25rem;
    }

    .quotes{
        background: url(../img/qt-bg-1.png) no-repeat left center, url(../img/qt-bg-2.png) no-repeat right center;
        background-size: 250px, 200px;
        background-color: $secondary-color;
        background-position: 5% 50%, 93% 50%;
        padding: 180px 0 130px;
        p{
            max-width: 650px;
        }

        p:nth-child(2){
            margin-top: 50px;
        }
    }

    .undangan{
        background: url(../img/bg-3.png) no-repeat top right, url(../img/bg-4.png) no-repeat bottom left;
        background-size: 530px, 500px;
        background-position-y: 30px, auto;
        h1, h2{
            font-size: 3.5rem;
        }

        p:first-of-type{
            max-width: 900px;
            margin: 60px auto;
        }

        figure{
            max-width: 717px;
        }

        .undangan-text{
            p:first-of-type{
                margin: 30px auto;
            }

            p{
                margin: 30px auto;
            }
        }
    }

    .gallery{
        background: none;
        

        .gallery-container{
            display: flex;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;

            img{
                width: 32%;
                margin-bottom: 10px;
            }
        }
    }

    .lokasi{
        display: flex;
        justify-content: center;
        .resepsi{
            margin-top: 0;
        }

        .akad{
            padding-top: 0;
        }

        .akad, .resepsi{
            padding-top: 80px;
            width: 560px;
            margin: 0 25px;
        }
    }

    .maps{

        background-size: 500px;
        .maps-container{
            width: 1200px;
            margin: 30px auto;

            .maps-responsive{
                padding-bottom: 50.25%;
            }
        }
    }

    .qr{
        .qr-container{
            width: 700px;
            margin: 30px auto;

            img{
                max-width: 250px;
                margin-bottom: 20px;
            }
        
        }

        .qr-container::after{
            width: 223px;
            height: 450px;
        }
    }

    .penutup{
        background: white;
        padding: 40px;
        width: 700px;
    }

    .content{
        background: url(../img/bg-6.png) no-repeat left bottom, url(../img/bg-7.jpg) no-repeat center bottom;
        background-size: 1300px, auto;
        padding-bottom: 300px;
        
    }
}